/* ----------------------- Wildcard ----------------------- */
* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Poppins', sans-serif;
  list-style: none;
}

/* ----------------------- Header ----------------------- */
/* ------------ General ------------ */
header {
  display: flex;
}

/* ------------ Desktop ------------ */
#desktop_header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px 0 26px;
  height: 97px;
}

#desktop_header nav {
  display: flex;
  gap: 30px;
  margin-top: 10px;
}

#desktop_header nav a {
  font-size: 20px;
  text-decoration: none;
}

#desktop_header .logo {
  width: 237px;
}

.active {
  font-weight: bolder;
}

/* ------------ Mobile ------------ */
#mobile_header {
  display: none;
}

#open_button {
  font-size: 42px;
}

#close_button {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 63px;
}

#mobile_overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, rgba(24, 1, 72, 1) 25%, rgba(0, 0, 0, 1) 100%);
  overflow-x: hidden;
  transition: 0.5s;
}

#mobile_overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  display: block;
}

#mobile_overlay ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 20%;
  gap: 30px;
}

/* ----------------------- Main ----------------------- */
/* ------------ General ------------ */
main {
  min-height: calc(100vh - 97px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bg_video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

/* ------------ Frontpage ------------ */
#logo_main {
  margin-top: 276px;
  max-width: 421px;
  width: 90vw;
  height: auto;
}

#mobile_nav_frontpage {
  display: none;
}

article {
  max-width: 70vw;
  display: flex;
}

/* ------------ Om os ------------ */
#about_us {
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 101px;
}

#about_us p {
  font-size: 24px;
  font-weight: normal;
}

/* ------------ Priser ------------ */
#prices h1 {
  margin-top: 80px;
  margin-bottom: 35px;
}

#prices article {
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
  margin-bottom: 24px;
}

#prices article section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-width: 304px;
  min-width: 200px;
  height: 392px;
  background-color: rgba(0, 0, 0, 60%);
  padding: 0 5px;
}

#prices article section h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

#prices article section p {
  font-size: 18px;
  text-align: center;
}

#prices article section span {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 900;
  color: #0094FF;
}

#prices article section .moms {
  font-size: 10px;
}

#prices article section a {
  width: 178px;
  text-align: center;
  background-color: rgba(100, 100, 100, 22%);
  padding: 12.8px 0;
  text-decoration: none;
}

#prices p:last-of-type {
  font-size: 20px;
  font-weight: normal;
  max-width: 80vw;
  text-align: center;
}

/* ------------ Kontakt ------------ */
#contact {
  margin-top: 100px;
}

#contact section {
  text-align: center;
}

#contact section div {
  margin-top: 123px;
}

#contact p {
  font-size: 24px;
}

/* ----------------------- Footer ----------------------- */
footer {
  display: flex;
  margin-top: 30px;
  padding-bottom: 10px;
}

#footer_container {
  width: 100%;
  display: flex;
  /* justify-content: space-evenly; */
  padding-left: 30px;
  gap: 71px;
}

#contact_info,
#so_me {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#contact_info h3,
#so_me h3 {
  font-size: 18px;
  font-weight: bolder;
}

#contact_info p,
#contact_info a {
  font-size: 14px;
  text-decoration: none;
}

#contact_info i{
  margin-right: 5px;
}

#so_me div {
  display: flex;
  gap: 20px;
}

#so_me div a {
  font-size: 36px;
}

/* ------------ Mobile ------------ */
#logo_footer {
  display: none;
}


/* ----------------------- Media queries ----------------------- */
@media screen and (max-width: 768px) {

  /* ----------------------- Header ----------------------- */
  header {
    flex-direction: row-reverse;
    position: fixed;
    right: 0px;
  }

  #desktop_header {
    display: none;
  }

  #mobile_header {
    display: flex;
  }

  #mobile_header i {
    font-size: 52px;
    margin: 26px 26px 0 0;
  }

  /* ----------------------- Main ----------------------- */
  main {
    min-height: 100vh;
  }

  h1 {
    font-size: clamp(22px, 5.5vw, 40px);
  }

  /* ------------ Frontpage ------------ */
  #logo_main {
    margin: 154px 0 96px 0;
  }

  #mobile_nav_frontpage {
    display: flex;
    flex-direction: column;
    gap: 38px;
  }

  #mobile_nav_frontpage a {
    text-decoration: none;
    background-color: rgba(106, 106, 106, 31%);
    font-size: 22px;
    font-weight: 600;
    max-width: 313px;
    width: 90vw;
    padding: 10.5px 0;
    text-align: center;
  }

  /* ------------ Priser ------------ */
  #prices article {
    flex-direction: column;
    gap: 29px;
  }

  #prices article section {
    min-width: 269px;
  }

  /* ------------ Kontakt ------------ */
  #contact p {
    font-size: clamp(15px, 3.5vw, 24px);
  }

  /* ----------------------- Footer ----------------------- */
  footer {
    flex-direction: column;
    /* align-items: center; */
  }

  #logo_footer {
    display: block;
    height: 36px;
    width: auto;
    margin-bottom: 20px;
    align-self: center;
  }
}

@media screen and (max-width: 600px) {
  #footer_container {
    width: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding-left: 15px;
  }

  /* #footer_container div {
    text-align: center;
  } */
}