* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Poppins', sans-serif;
  list-style: none;
}

/* ----------------------- Header ----------------------- */
header {
  display: flex;
}

#desktop_header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px 0 26px;
  height: 97px;
}

#desktop_header nav {
  display: flex;
  gap: 30px;
  margin-top: 10px;
}

#desktop_header nav a {
  font-size: 20px;
  text-decoration: none;
}

#desktop_header .logo {
  width: 237px;
}

.active {
  font-weight: bolder;
}

#mobile_header {
  display: none;
}

/* ----------------------- Main ----------------------- */
/* ------------ General ------------ */
main {
  min-height: calc(100vh - 97px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bg_video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/* ------------ Frontpage ------------ */
#logo_main {
  margin-top: 276px;
  max-width: 421px;
  width: 90vw;
  height: auto;
}

#mobile_nav_frontpage {
  display: none;
}

article {
  max-width: 70vw;
  display: flex;
}

/* ------------ Om os ------------ */
#about_us {
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* ------------ Priser ------------ */
#prices {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
  gap: 30px;
}

#prices section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-width: 304px;
  height: 392px;
  background-color: rgba(0, 0, 0, 60%);
  padding: 0 5px;
}

#prices section h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

#prices section p {
  font-size: 18px;
  text-align: center;
}

#prices section span {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 900;
  color: #0094FF;
}

#prices section .moms {
  font-size: 10px;
}

#prices section a {
  width: 178px;
  text-align: center;
  background-color: rgba(100, 100, 100, 22%);
  padding: 12.8px 0;
  text-decoration: none;
}

/* ----------------------- Footer ----------------------- */
footer {
  display: flex;
}

#logo_footer {
  display: none;
}

/* --------- SoMe --------- */
#SoMe a {
  font-size: xx-large;
}

/* ----------------------- Media queries ----------------------- */
@media screen and (max-width: 768px) {

  /* ----------------------- Header ----------------------- */
  header {
    flex-direction: row-reverse;
  }

  #desktop_header {
    display: none;
  }

  #mobile_header {
    display: block;
  }

  #mobile_header i {
    font-size: 52px;
    margin: 26px 26px 0 0;
  }

  /* ----------------------- Main ----------------------- */
  /* ------------ Frontpage ------------ */
  #logo_main {
    margin: 154px 0 96px 0;
  }

  #mobile_nav_frontpage {
    display: flex;
    flex-direction: column;
    gap: 38px;
  }

  #mobile_nav_frontpage a {
    text-decoration: none;
    background-color: rgba(106, 106, 106, 31%);
    font-size: 22px;
    font-weight: 600;
    max-width: 313px;
    width: 90vw;
    padding: 10.5px 0;
    text-align: center;
  }

  /* ------------ Priser ------------ */
  #prices {
    flex-direction: column;
    gap: 29px;
    margin-bottom: 30px;
  }

  /* ----------------------- Footer ----------------------- */
  footer {
    flex-direction: column;
    align-items: center;
  }

  #logo_footer {
    display: block;
    height: 36px;
    width: auto;
  }
}